services:
  wordpress:
    image: wordpress:latest
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_CONFIG_EXTRA: |
        define('FS_METHOD', 'direct');
    volumes:
      - wp_content:/var/www/html/wp-content
    depends_on:
      - db
    networks:
      - wpnet

  theme_sync:
    image: alpine/git:2.45.2
    restart: unless-stopped
    entrypoint: ["/bin/sh", "-lc"]
    environment:
      MAUSWP_GIT_URL: ${MAUSWP_GIT_URL}
      GIT_BRANCH: "main"
      THEME_SUBPATH: "wp-content/themes/mauswp"
      THEME_DIR: "/data/themes/mauswp"
      SYNC_INTERVAL: "300"
    volumes:
      - wp_content:/data
    command: "set -eu; mkdir -p /data/plugins /data/themes /data/uploads /data/mu-plugins /data/languages /data/upgrade; if [ -z \"${MAUSWP_GIT_URL:-}\" ]; then echo \"ERROR: MAUSWP_GIT_URL no está definida\"; exit 1; fi; sync_once(){ rm -rf /tmp/repo; git clone --depth 1 --branch \"$GIT_BRANCH\" \"$MAUSWP_GIT_URL\" /tmp/repo; if [ ! -f \"/tmp/repo/$THEME_SUBPATH/style.css\" ]; then echo \"ERROR: No existe /tmp/repo/$THEME_SUBPATH/style.css\"; echo \"Contenido real:\"; ls -la \"/tmp/repo/$THEME_SUBPATH\" 2>/dev/null || true; exit 1; fi; rm -rf /tmp/theme.new; mkdir -p /tmp/theme.new; cp -a \"/tmp/repo/$THEME_SUBPATH/.\" /tmp/theme.new/; chown -R 33:33 /tmp/theme.new || true; rm -rf \"${THEME_DIR}.bak\"; if [ -d \"$THEME_DIR\" ]; then mv \"$THEME_DIR\" \"${THEME_DIR}.bak\"; fi; mv /tmp/theme.new \"$THEME_DIR\"; rm -rf \"${THEME_DIR}.bak\"; chown -R 33:33 /data || true; echo \"OK: theme sincronizado (atómico) en $THEME_DIR\"; }; sync_once; while true; do sleep \"$SYNC_INTERVAL\"; sync_once || true; done"
    depends_on:
      - wordpress
    networks:
      - wpnet

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${WORDPRESS_DB_NAME}
      MYSQL_USER: ${WORDPRESS_DB_USER}
      MYSQL_PASSWORD: ${WORDPRESS_DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - wpnet

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - db
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: ${WORDPRESS_DB_USER}
      PMA_PASSWORD: ${WORDPRESS_DB_PASSWORD}
    networks:
      - wpnet

volumes:
  db_data:
  wp_content:

networks:
  wpnet:
